# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.SO_FinalProyect.iml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Archivos de sistema en macOS
.DS_Store
.AppleDouble
.LSOverride

# Configuración específica de macOS
Icon?
._*

# Rider y JetBrains IDEs
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.Rider/
.idea/
.vscode/

# Archivos de compilación de .NET
bin/
obj/
out/

# Paquetes NuGet
*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json

# Configuración de Azure
# Incluye esto si tienes archivos de configuración de Azure en tu proyecto
azure-pipelines.yml
.vscode/launch.json
.env

# Logs
*.log

# Archivos de depuración y temporales
*.pid
*.cache
*.pdb

# Certificados de desarrollo
*.pfx
*.p12

# Configuración de usuario y de Rider
*.sln.ide
*.dotSettings.user
*.userprefs

# Configuración de aplicación y archivos de secretos locales
appsettings.Development.json
secrets.json

# Dependencias y configuraciones adicionales
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log
.env.development.local
.env.local
.env.test.local
.env.production.local

# Archivos de lock específicos de dotnet y lock de proyectos
project.assets.json
project.fragment.cache
project.lock.json
project.fragment.lock.json

# Archivos de reporte de cobertura de pruebas y otros temporales de herramientas de análisis
*.coverage
*.coveragexml
*.coverage.json
.coverage
coverage.opencover.xml
TestResult.xml
TestResults/